<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ankur Advertising</title>

    <style media="screen">

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }

  </style>
</head>
<body>
    {% include "ShopCons/navbar.html" %}

  <center>
    <h2 class='alert alert-success' style="padding-top: 90px; margin-bottom:0px;">Join Us !</h2>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-5">Let's do clever things together! Are you up for it? Let us know!</h1>
    <p class="lead">We are searching for minds and souls, and love a good CV and to chat with new people.
        Go ahead and find out!</p>
      <br>
     <p>Thank you for your inquiry about employment opportunities at Ankur Advertising Services.
         Currently we don't have any open positions but if you are interested in possible future
         opportunities please send your CV to <a href="mailto:ankuradvertising2021@gmail.com">ankuradvertising2021@gmail.com</a></p>
      <br><br>
    <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>


<!--  <div class="container text-primary">-->
<!--    <div class="text-primary" style="background-color:white;border-radius: 6px;-->
<!--    padding: 20px;" >-->
<!--    <div class="row">-->
<!--      <div class="col-xs-12  col-sm-4 text-center">-->
<!--        <ul>-->
<!--      <li><h4>Heading placeholder text.</h4></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="col-xs-12 col-sm-4 text-center">-->
<!--        <ul>-->
<!--      <li><h4>Heading placeholder text.</h4></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="col-xs-12  col-sm-4 text-center">-->
<!--        <ul>-->
<!--          <li><h4>Heading placeholder text.</h4></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--          <li><a href="#">Dummy data</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;End of Container for footer&ndash;&gt;-->
<!--  </div>-->
    {% include "ShopCons/footer.html" %}
</body>
</html>